<html>
	<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-
		    MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		{% for i in res %}
			{% for cars in car %}
				{% if cars.id == i %}
					{% for j in pictures %}
						{% if j.image and j.car == cars  and j.main == True %}
							<img src="{{MEDIA_URL}}{{j.image.url}}">
						{% endif %}
					{% endfor %}
					<li><a href="{% url 'car' %}?id={{cars.id}}">{{cars.name}} {{cars.model}}</a> {{cars.price}} тг</li>
					{{cars.year}} г. {{cars.motor}}, {{cars.mileage}} км, {{cars.color}} ...
					<hr>
				{% endif %}
			{% endfor %}
		{% endfor %}
		{% if check == False %}
			Извините, но по вашему запросу ничего не найдено
		{% endif %}<br>
		<a href="/">Назад</a>
	</body>
</html>